table {
  border: 1px solid black;
}

.cell {
  background: #f9f4ef;
  margin: 1px;
  padding: 0px;
  height: 2em;
  width: 1em;
}

.empty-cell {
  visibility: hidden;
}

.row {
  text-align: center;
  
}

.score {
  background: inherit;
  margin: 0px;
  padding: inherit;
  height: 100%;
  width: 100%;
  border: 0px solid white;
}